body{
	background-color: #ccc;
	font-family: Verdana;
	max-width: 900px;
	margin: auto;
}

.photo{
	border: 3px solid black;
	border-radius: 50px;
}

#title, .subtitle, .post_title{
	color: black;
	text-transform: uppercase;
}

.post_title{
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}

.post{
	background: #fff;
	padding: 10px 10px 5px 0;
	border: 3px solid black;
	margin: 10px;
	border-radius: 5px;
}

.post_content{
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
	text-align: justify-all;
}

.post_image{
	margin-bottom: 15px;
	width: 100%;
}